<header class="app-header">
    <div class="app-header-logo-link-container">
        <a href="/" class="app-header-logo-link">
            <img src="assets/logo.jpeg" alt="logo" class="app-header-logo-image">
        </a>
    </div>
    <div class="app-header-nav-container">
        <ul class="app-header-nav-list items-end">
            <li><a [routerLink]="'/servicios'" class="app-header-nav-link">Servicios</a></li>
            <li><a [routerLink]="'/contactos'" class="app-header-nav-link">Conocenos</a></li>
            <li><a [routerLink]="'/noticias'" class="app-header-nav-link">Noticias</a></li>
            @if (!isLoggedIn) {
                <li><a [routerLink]="'/register'" class="app-header-nav-link">Registrate</a></li>
                <li><a [routerLink]="'login'" class="app-header-nav-link">Accede</a></li>
            } @else {
                <li class="app-header-user-icon-wrapper relative ml-4 items-start" (click)="toggleMenu()">
                    <i class="pi pi-user app-header-user-icon"></i>
                </li>
                @if (isMenuOpen) {
                    <ul class="app-header-user-menu">
                        <div class="app-header-user-menu-content-wrapper">
                            @if (isAdmin) {
                                <li class="app-header-user-menu-item"><a [routerLink]="'/admin/calendar'">Calendario</a></li>
                                <li class="app-header-user-menu-item"><a [routerLink]="'servicios/create'">Crear</a></li>
                            } @else {
                                <li class="app-header-user-menu-item"><a [routerLink]="'/citas'">Mis citas</a></li>
                                <li class="app-header-user-menu-item"><a [routerLink]="'/citas/pedir'">Pedir cita</a></li>
                                <li class="app-header-user-menu-item"><a [routerLink]="'#'">Mis datos</a></li>
                                <li class="app-header-user-menu-item"><a [routerLink]="'#'">Configuracion</a></li>
                            }
                            <li class="app-header-user-menu-item">
                                <button type="button" (click)="signOut()" class="app-header-user-menu-button-logout">
                                    Cerrar sesion
                                </button>
                            </li>
                        </div>
                    </ul>
                }
            }
        </ul>
    </div>
</header>

@if (isLoading) {
    <div class="app-loading-overlay">
        <div class="app-loading-spinner" role="status">
            <span class="app-visually-hidden">Loading...</span>
        </div>
    </div>
}