<header [ngClass]="['flex flex-row justify-between p-8 items-center bg-[#BDCBD3]']">
     <div>
        <img src="../../assets/logo.jpeg" alt="logo" [ngClass]="['w-32']">
        
    </div>
    <div >
        <ul [ngClass]="['flex flex-row gap-8 justify-end text-2xl']">
            <li> <a href="/Servicios">Servicios</a></li>
            <li><a href="/">Conocenos</a></li>
            <li> <a href="#"> Noticios </a></li>
            < ng
            <li> <a href="#">Accede </a></li>
        </ul>

    </div>

</header>
