<div class="calendar-grid week-view-grid"> @for (dia of this.diasSemana; track $index) {
    <div class="calendar-day-cell week-day-cell" (click)="toggleDia(dia, true)">
      <div class="calendar-day-number">{{ dia.fecha.getDate() }}</div>

      @if (dia.events && dia.events.length > 0) {
        <div class="calendar-events-container"> @for (event of dia.events; track $index) {
            <div class="calendar-event-item" title="{{event.start.dateTime | date: 'HH:mm'}} - {{event.end.dateTime | date: 'HH:mm'}} -> {{event.summary}}">
              <span class="calendar-event-time">{{event.start.dateTime | date: 'HH:mm'}} - {{event.end.dateTime | date: 'HH:mm'}}</span>
              <span class="calendar-event-summary">-> {{event.summary}}</span>
            </div>
          }
        </div>
      } @else {
        <p class="calendar-no-events-text">Sin citas</p>
      }
    </div>

    <p-dialog
      [(visible)]="dia.visible"
      [modal]="true"
      [header]="dia.fecha.toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })"
      [style]="{width: '90vw', maxWidth: '600px'}"
      [draggable]="false"
      [resizable]="false"
      (onHide)="toggleDia(dia, false)"
      appendTo="body"
      [dismissableMask]="true"
      styleClass="event-details-dialog"
       [ngClass]="{'visible absolute' : dia.visible, 'hidden': !dia.visible}"
    >
      <ng-template pTemplate="content">
        <app-day [events]="dia.events"></app-day>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="dialog-footer">
          <button
            type="button"
            pButton
            icon="pi pi-times"
            (click)="toggleDia(dia, false)"
            label="Cerrar"
            class="p-button-text dialog-close-button"
          ></button>
        </div>
      </ng-template>
    </p-dialog>
  }
</div>