
  
      <div class="grid grid-cols-7 gap-1 md:gap-2">

        @for(dia of this.diasSemana ; track $index){
            <div class="border border-gray-400 rounded-md h-64 overflow-y-auto p-1 md:p-2 bg-gray-50">
                <div class="text-xs  text-gray-500 mb-1">{{dia.fecha.getDate()}}</div>
                @if (dia.events && dia.events.length > 0){
                  @for(event of dia.events ; track $index){
                    <div class="bg-blue-200 text-blue-800 text-xs rounded px-1 py-0.5 mb-1 truncate text-wrap">
                        {{event.start.dateTime | date: 'HH:mm'}} - {{event.end.dateTime | date: 'HH:mm'}}  -> {{event.summary}}
                    </div>
                  }
                }@else{
                    <p class="text-xs text-gray-500 italic">Sin citas</p>
                }
                
            </div>
        }
      </div>

