<div class="p-6 border-t border-gray-200">


    <div mat-dialog-content class="bg-white pb-3 ">
    @for(event of this.events ; track $index){
        <div class="bg-blue-100 text-blue-700 text-xs rounded px-1.5 py-0.5 mb-2 truncate !p-1 flex flex-row gap-5  ">
            <span class="w-full mx-4">{{event.start.dateTime | date: 'HH:mm'}} - {{event.end.dateTime | date: 'HH:mm'}} &nbsp;-> {{event.summary}}</span>
            <div class="flex-row justify-end mx-4 flex gap-4 w-full">
                <button  (click)="eliminarEvento(event)" class="float-right">
                <i class="pi pi-trash text-gray-700"></i>
                </button>
              
                <button  (click)="editarEvento()" class="float-right">
                <i class="pi pi-pencil text-gray-700"></i>
                </button> 
                <p-dialog [modal]="true" [header]="'Editar Evento'" [(visible)]="this.editar" [ngClass]="{'visible absolute' : this.editar, 'hidden' :this.editar }" (click)="editarEvento()" appendTo="body" styleClass="w-11/12 md:w-4/5 lg:w-3/5"> 
                    <app-edit   [eventId]="event.id"></app-edit>
                    <div class="bg-white px-6 py-4 flex justify-end border-t border-gray-200">
                        <button (click)="editarEvento() " class="ml-2 px-4 py-2 rounded border border-gray-300 text-gray-700 hover:bg-gray-100 font-semibold text-sm">
                             Cerrar
                        </button>
                    </div>
               </p-dialog>

            </div>
            

        </div>
    }
    </div>


</div>


