<h1 class="services-title">SERVICIOS</h1>

<div class="services-list-container">
  @for(servicio of servicios; track servicio.id){
    <div class="service-card-item">
      <img class="service-card-item__image" [src]="environment.url_host+'storage/' + servicio.foto" alt="Imagen de {{servicio.titulo}}"/>
      <div class="service-card-item__body">
        <div> <h2 class="service-card-item__title">{{servicio.titulo}}</h2>
          <p class="service-card-item__description">{{servicio.descripcion}}</p>
        </div>
        <p class="service-card-item__time-details">
          <i class="pi pi-clock service-card-item__time-icon" style="font-size:30px;"></i>
          <span>{{servicio.tiempo}} min</span>
        </p>
      </div>
    </div>
  }

</div>