<h1 class="appointment-card-title text-center py-6 text-4xl font-bold text-sky-800">Pedir Cita</h1>

<div class="appointment-card-container">
  <div class="appointment-card-header">
    <h2 class="appointment-card-title">Completa tus datos</h2>
    <p class="appointment-card-subtitle">Rellena el formulario y nos pondremos en contacto contigo para confirmar la cita.</p>
  </div>

  <form [formGroup]="forms" class="appointment-main-form">
    <div class="form-main-column">
      <div class="form-input-field">
        <p-floatLabel>
          <p-select inputId="servicio" formControlName="servicio" [options]="servicios" optionLabel="titulo" optionValue="id" name="servicio" styleClass="w-full"/>
          <label for="servicio">Servicio Deseado</label>
        </p-floatLabel>
      </div>
      <div class="form-input-field">
        <p-floatLabel>
          <textarea id="dolencia" formControlName="dolencia" rows="5" name="dolencia" class="styled-textarea"></textarea>
          <label for="dolencia">Dolencia / Motivo de la consulta</label>
        </p-floatLabel>
      </div>
    </div>

    <div class="form-main-column">
        <h3 class="availability-title">Indica tu disponibilidad horaria:</h3>
        @for(item of forms.value.disponibilidad; track $index){

            <div [formGroup]="$any(forms.get('disponibilidad')).controls[$index]" class="availability-entry-row">
                <p-floatLabel class="w-1/5 time-picker-field " >
                    <p-datepicker inputId="inicio-{{$index}}"formControlName="inicio" [timeOnly]="true" styleClass="h-full"/>
                    <label for="inicio">Hora inicio</label>
                </p-floatLabel>
                <p-floatLabel class="w-1/5 time-picker-field" >
                    <p-datepicker inputId="fin-{{$index}}"formControlName="fin" [timeOnly]="true" styleClass="h-full" />
                    <label for="inicio">Hora fin</label>
                </p-floatLabel>
                 <div class="days-selector-field">
                     <p-multiSelect  [options]="dias" formControlName="semana" placeholder="Días de la semana"  styleClass="w-full" display="chip" />
                </div>
                 <button pButton type="button" label="Añadir" (click)="removeTime($index)" Class="submit-button-styling items-center"><i class="pi pi-minus"></i></button>
            </div>

        }
        <div class="">
            <button pButton type="button" label="Añadir" (click)="addTime()" Class=" submit-button-styling add-button-form-container"><i class="pi pi-plus"></i><i class="pi pi-clock"></i> </button>
           
        </div>   
        
    </div>
 
    </form> 
    <button pButton type="button" label="Submit" (click)="onSubmit()" Class="submit-button-styling">Enviar  <i class="pi pi-check"></i></button>
</div>