<div ngClass="metodo-rubio">
    <h1>EL METODO RUBIO</h1>


    <div ngClass="left">  
        <div ngClass="texto">
            <p>
            Con el método rubio para los Cólicos del lactante conseguimos de una manera
            natural una mejoría, tanto en la alimentación del niño, que realiza tomas mas
            correctas y mantiene mejor le tiempo entre ellas, como en el transito
            intestinal y en la evacuación de las heces y los gases, una mayor facilidad en
            el eructó, y como efecto secundario, aumenta el bienestar general del bebe al
            aumentar la calidad y el tiempo de sueño
            </p>
            <p>
            El método rubio para los cólicos del lactante se realiza como norma general en
            dos sesiones: una primera elastificando la zona mas externa y la segunda, 4 o
            7 días después, sobre la zona profunda. Las sesiones tienen una duración
            aproximada de entre 30 y 45 minutos, cada una , debiendo realizarse siempre
            con el bebe relajado
            </p>
        </div>
        <div ngClass="imagen w-[30%]">
            <div ngClass="circle dos"></div>
            <div ngClass="circle uno"></div>
            <img src="assets/metodo_rubio1.jpeg" alt="metodo rubio" />
        </div>
    </div>

    <div [ngClass]="['right w-[90%]']">
        <p>
            Yo tuve la grandísima suerte de conocer a domingo rubio creador del método
            rubio. me siento afortunado de asistir al1º curso de formación. Durante varios
            años asistí a todos los cursos de formación, lo cual me permitió ser ayudante
            de formación del método rubio.
        </p>
        <div ngClass="imagen w-[50%]">
            <div ngClass="circle dos"></div>
            <div ngClass="circle uno"></div>
             <img src="assets/metodo_rubio2.jpeg" alt="metodo rubio"  />
        </div>
    </div>

 </div>