<header [ngClass]="['flex flex-row justify-between p-8 items-center bg-[#BDCBD3]']">
    <div>
       <a href="/" ><img src="assets/logo.jpeg" alt="logo" [ngClass]="['w-32 rounded-full']"></a>
   </div>
   <div >
       <ul [ngClass]="['flex flex-row gap-8 justify-end lg:text-2xl text-lg z-50 ']">
           <li> <a href="/servicios">Servicios</a></li>
           <li><a href="/">Conocenos</a></li>
           <li> <a href="#"> Noticias </a></li>
           <li><a href="servicios/create">Crear</a></li>
           <li> 
            <button type="button" (click)="signOut()" class="dropdown-item link-danger border-0 bg-transparent">
                Cerrar sesion
            </button>
        </li>

       </ul>
   </div>
</header>





