<div class="bg-gray-200 p-6 rounded-lg shadow-md md:w-4/5 sm:w-full mx-auto mt-10">
    <h2 class="md:text-2xl sm:text-xl  font-bold text-center mb-6 text-gray-800">Crear Nuevo Evento</h2>
    <form (ngSubmit)="createCalendarEvent()" [formGroup]="eventForm">
        <div class="form-group">
            <label for="summary" class="form-label">Nombre y apellido:</label>
               <p-autocomplete formControlName="summary" [suggestions]="selectUser" (completeMethod)="search($event)" optionLabel="name">
                <ng-template let-user #item>
                     <div class="flex items-center gap-2">{{user.name}}</div>
                </ng-template>
                <ng-template #footer>
                    <div class="px-3 py-3">
                        <p-button label="Crear nuevo usuario"fluid severity="secondary" text size="small" icon="pi pi-plus" (click)="showDialog()" class="w-full"></p-button>
                    </div>
                </ng-template>
               

               </p-autocomplete>
        </div>

        <div class="form-group">
            <label for="date" class="form-label">Fecha:</label>
            <p-datepicker inputId="date" formControlName="date" [iconDisplay]="'input'" [showIcon]="true" styleClass="w-full"></p-datepicker>
        </div>

        <div class="flex gap-4 mb-4">
            <div class="flex-1 form-group">
                <p-floatlabel>
                    <p-datepicker inputId="start" formControlName="start" [timeOnly]="true" class="form-input-time" />
                    <label for="start" class="form-label">Hora de Inicio:</label>
                </p-floatlabel>
            </div>
            <div class="flex-1 form-group">
                <p-floatlabel>
                    <p-datepicker inputId="end" formControlName="end" [timeOnly]="true" class="form-input-time" />
                    <label for="end" class="form-label">Hora de Fin:</label> 
                </p-floatlabel>
            </div>
        </div>

        <button pButton type="submit" label="Crear Evento" class="btn-primary"></button>
    </form>
</div>