<div [ngClass]="['gap-10']">
  <!--CORROUSEL-->

  <!--Ostiopatia-->
  <div [ngClass]="['flex flex-row justify-end w-4/5 mx-auto my-9 ']">
    <div [ngClass]="['text-center w-2/4 z-10 absolute left-24 mt-10 ']">
      <h1 [ngClass]="['text-5xl py-4 border-b-4 ']">OSTEOPATIA</h1>
      <p [ngClass]="['text-xl py-4 w-11/12 mx-auto']">
        Es la ciencia que estudia los movimientos del cuerpo humano y la
        adaptación al medio. El Osteópata es pues un profesional del movimiento,
        su papel es descubrir en qué punto de la estructura no existe y con las
        técnicas apropiadas recupera el movimiento justo , equilibrado y bien
        adaptado y por tanto eficaz.
      </p>
    </div>
    <div [ngClass]="['w-3/5 bg-[#BDCBD3] rounded-3xl ml-[-100px]  z-0  flex flex-col items-end']" >
      <div [ngClass]="['w-3/5 mr-6']">
        <img src="assets/Ostiopatia.gif" alt="osteo" [ngClass]="['p-3 rounded-3xl']" />
        <div [ngClass]="['bg-white w-4/5 h-3 m-auto mb-2 rounded-full']"></div>
        <div [ngClass]="['bg-white w-6/12 h-3 m-auto mb-2 rounded-full']"></div>
        <div [ngClass]="['bg-white w-2/12 h-3 m-auto mb-2 rounded-full']"></div>
      </div>
    </div>
  </div>

  <!--OTRAS PAGINAS-->

  <div [ngClass]="">
    <div [ngClass]="['border-4 border-[#BDCBD3] rounded-full w-4/5 mx-auto']">
      <div [ngClass]="['w-1/2 mx-auto']">
        <h1 [ngClass]="['text-5xl py-4 border-b-4 ']" >SERVICIOS</h1>
        <p [ngClass]="['text-xl py-4 w-11/12 mx-auto']">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in
        </p>
      </div>
      <div [ngClass]="['flex flex-row justify-between w-3/5 mx-auto ab']">
        <img src="assets/hombre_de_vitruvio.jpg" alt="osteo" [ngClass]="['w-3/5 rounded-full ']" />
        <button [ngClass]="['border-2 rounded-full h-fit p-3']">Ver mas</button>
      </div>
    </div>
  </div>
</div>
