<div [ngClass]="['page-container']">
  <div [ngClass]="['article-section', 'article-layout--text-left']">
    <div [ngClass]="['article-text', 'article-text--osteopatia-spacing']">
      <h1 [ngClass]="['article-heading']">OSTEOPATIA</h1>
      <p [ngClass]="['article-paragraph']">
        Es la ciencia que estudia los movimientos del cuerpo humano y la
        adaptación al medio. El Osteópata es pues un profesional del movimiento,
        su papel es descubrir en qué punto de la estructura no existe y con las
        técnicas apropiadas recupera el movimiento justo , equilibrado y bien
        adaptado y por tanto eficaz.
      </p>
    </div>
    <div [ngClass]="['article-media-container']">
      <div [ngClass]="['article-image-wrapper']">
        <img src="assets/Ostiopatia.gif" alt="osteo" [ngClass]="['article-image']" />
        <div [ngClass]="['article-image-decorator', 'w-4/5']"></div>
        <div [ngClass]="['article-image-decorator', 'w-6/12']"></div>
        <div [ngClass]="['article-image-decorator', 'w-2/12']"></div>
      </div>
    </div>
  </div>

  <div [ngClass]="['article-section', 'article-layout--text-right']">
    <div [ngClass]="['article-text']">
      <h1 [ngClass]="['article-heading']">SERVICIOS</h1>
      <p [ngClass]="['article-paragraph']">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in
      </p>
      <a href="/servicios" target="_blank" [ngClass]="['article-button']"> + Info</a>
    </div>
    <div [ngClass]="['article-media-container']">
      <div [ngClass]="['article-image-wrapper']">
        <img src="assets/hombre_de_vitruvio.jpg" alt="servicios" [ngClass]="['article-image']" />
        <div [ngClass]="['article-image-decorator', 'w-4/5']"></div>
        <div [ngClass]="['article-image-decorator', 'w-6/12']"></div>
        <div [ngClass]="['article-image-decorator', 'w-2/12']"></div>
      </div>
    </div>
  </div>

  <div [ngClass]="['article-section', 'article-layout--text-left']">
    <div [ngClass]="['article-text']">
      <h1 [ngClass]="['article-heading']">EL METODO RUBIO</h1>
      <p [ngClass]="['article-paragraph']">
        Es la ciencia que estudia los movimientos del cuerpo humano y la
        adaptación al medio. El Osteópata es pues un profesional del movimiento,
        su papel es descubrir en qué punto de la estructura no existe y con las
        técnicas apropiadas recupera el movimiento justo , equilibrado y bien
        adaptado y por tanto eficaz.
      </p>
      <a href="/metodo-rubio" target="_blank" [ngClass]="['article-button']"> + Info</a>
    </div>
    <div [ngClass]="['article-media-container']">
      <div [ngClass]="['article-image-wrapper']">
        <img src="assets/metodo_rubio.jpg" alt="metodo rubio" [ngClass]="['article-image']" />
        <div [ngClass]="['article-image-decorator', 'w-4/5']"></div>
        <div [ngClass]="['article-image-decorator', 'w-6/12']"></div>
        <div [ngClass]="['article-image-decorator', 'w-2/12']"></div>
      </div>
    </div>
  </div>
</div>