<div [ngClass]="['lg:gap-10 gap-0 flex flex-col']">
  <!--CORROUSEL-->

  <!--Ostiopatia-->
  <div [ngClass]="['articulo right']">
    
    <div [ngClass]="['texto mt-10']">
      <h1>OSTEOPATIA</h1>
      <p>
        Es la ciencia que estudia los movimientos del cuerpo humano y la
        adaptación al medio. El Osteópata es pues un profesional del movimiento,
        su papel es descubrir en qué punto de la estructura no existe y con las
        técnicas apropiadas recupera el movimiento justo , equilibrado y bien
        adaptado y por tanto eficaz.
      </p>
    </div>
    <div [ngClass]="['rectangulo']" >
      <div [ngClass]="['imagen']">
        <img src="assets/Ostiopatia.gif" alt="osteo"/>
        <div [ngClass]="[' w-4/5 ']"></div>
        <div [ngClass]="[' w-6/12 ']"></div>
        <div [ngClass]="['w-2/12 ']"></div>
      </div>
    </div>
  </div>

  <!--OTRAS PAGINAS-->

  <div [ngClass]="['articulo left']">
    <div [ngClass]="['texto']">
      <h1>SERVICIOS</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in
      </p>
      <a href="/servicios" target="_blank" [ngClass]="['button']"> + Info</a>
    </div>
    <div [ngClass]="['rectangulo']" >
      <div [ngClass]="['imagen']">
        <img src="assets/hombre_de_vitruvio.jpg" alt="osteo"/>
        <div [ngClass]="[' w-4/5 ']"></div>
        <div [ngClass]="[' w-6/12 ']"></div>
        <div [ngClass]="['w-2/12 ']"></div>
      </div>
    </div>
  </div>


  <div [ngClass]="['articulo right']">
    
    <div [ngClass]="['texto']">
      <h1>EL METODO RUBIO </h1>
      <p>
        Es la ciencia que estudia los movimientos del cuerpo humano y la
        adaptación al medio. El Osteópata es pues un profesional del movimiento,
        su papel es descubrir en qué punto de la estructura no existe y con las
        técnicas apropiadas recupera el movimiento justo , equilibrado y bien
        adaptado y por tanto eficaz.
      </p>
      <a href="/metodo-rubio" target="_blank" [ngClass]="['button']"> + Info</a>
    </div>
    <div [ngClass]="['rectangulo']" >
      <div [ngClass]="['imagen']">
        <img src="assets/metodo_rubio.jpg" alt="osteo"/>
        <div [ngClass]="[' w-4/5 ']"></div>
        <div [ngClass]="[' w-6/12 ']"></div>
        <div [ngClass]="['w-2/12 ']"></div>
      </div>
    </div>
  </div>



  
</div>
