<div class="form-container">
    <div class="form-header">
      <h2 class="form-title">Crear Nuevo Servicio</h2>
    </div>
  
    <form [formGroup]="servicioForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-content">
      <div class="form-field">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" formControlName="titulo" class="form-input">
      </div>
  
      <div class="form-field">
        <label for="tiempo" class="form-label">tiempo:</label>
        <input type="number" id="tiempo" formControlName="tiempo" class="form-input"
          [ngClass]="{'input-invalid': servicioForm.get('tiempo')?.invalid && (servicioForm.get('tiempo')?.dirty || servicioForm.get('tiempo')?.touched)}">
        <div *ngIf="servicioForm.get('tiempo')?.invalid && (servicioForm.get('tiempo')?.dirty || servicioForm.get('tiempo')?.touched)"
          class="validation-error">
          <div *ngIf="servicioForm.get('tiempo')?.errors?.['required']">
            El tiempo es obligatorio.
          </div>
          <div *ngIf="servicioForm.get('tiempo')?.errors?.['numeric']">
            El tiempo debe ser un número.
          </div>
        </div>
      </div>
  
      <div class="form-field">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-input form-textarea"
          [ngClass]="{'input-invalid': servicioForm.get('descripcion')?.invalid && (servicioForm.get('descripcion')?.dirty || servicioForm.get('descripcion')?.touched)}"
          rows="4"></textarea>
        <div
          *ngIf="servicioForm.get('descripcion')?.invalid && (servicioForm.get('descripcion')?.dirty || servicioForm.get('descripcion')?.touched)"
          class="validation-error">
          <div *ngIf="servicioForm.get('descripcion')?.errors?.['required']">
            La descripción es obligatoria.
          </div>
        </div>
      </div>
  
      <div class="form-field">
        <label for="foto" class="form-label">Foto:</label>
        <input type="file" (change)="onFileSelected($event)" id="foto" formControlName="foto" class="form-file-input">
      </div>
  
      <button type="submit" [disabled]="servicioForm.invalid || loading" class="submit-button">
        <span *ngIf="!loading">Crear Servicio</span>
        <span *ngIf="loading">Creando...</span>
        <i class="pi pi-check" *ngIf="!loading"></i> <i class="pi pi-spin pi-spinner" *ngIf="loading"></i>
      </button>
  
      <div *ngIf="successMessage" class="alert-success" role="alert">
        {{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage" class="alert-error" role="alert">
        {{ errorMessage }}
      </div>
    </form>
  </div>